body {
    margin: 0;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td.not-submitted {
    background-color: #ddd;
    text-align: center;
    font-weight: bold;
}

td.correct {
    background-color: #028a00;
    text-align: center;
    color: white;
    font-weight: bold;
}

td.wrong {
    background-color: #a80014;
    text-align: center;
    color: white;
    font-weight: bold;
}

td.pending {
    background-color: #fcba03;
    text-align: center;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
