body {
    background-color: #FFFFCC;
    margin: 20px;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid lightgray;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: white;
}

tr.problems {
    background-color: gray;
}

th.problem {
    text-align: center;
}

td {
    height: 80px;
    width: 15px;
}

td.not-submitted {
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
}

td.correct {
    background-color: #028a00;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 11px;
}

td.pending p {
    font-size: 16px;
}

td.wrong {
    background-color: #a80014;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 11px;
}

td.pending p {
    font-size: 16px;
}

td.pending {
    background-color: #AAAAFF;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 11px;
}

td.pending p {
    font-size: 16px;
}

tr.selected {
    background-color: #CC9999;
}

.revealing {
    animation: scaling 2s infinite alternate;
}
  
@keyframes scaling {
    0% {
        background-color: #AAAAFF;
    }
    33% {
        background-color: #028a00;
    }
    66% {
        background-color: #a80014;
    }
}
